html,
body {
  margin: 0; /* Because annoying default browser margins */
}
div {
  position: absolute;
  transform: rotate(90deg);
}
playerjs {
position: absolute;
transform: rotate(90deg);
}