*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    display: table;
    width: auto;
    height: 100%;
}

body {
    display: table-cell;
    vertical-align: middle;
    width: auto;
    height: 100%;
    background: #000000;
}
