*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#playerjs { display:block; }
@media only screen and (orientation:portrait){
  #playerjs {  
    height: 100vw;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
@media only screen and (orientation:landscape){
  #playerjs {  
     -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
     -o-transform: rotate(0deg);
     -ms-transform: rotate(0deg);
     transform: rotate(0deg);
  }
}
body
{
    font-family: sans-serif;
    background: #002333;
}
@media screen and (max-width: 780px) and (orientation: landscape) {
  .app {
    display: none;
  }
}
